@model TST.Data.EF.TST_Employees

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FullName</h2>
<h4>@Html.DisplayFor(model => model.JobTitle)</h4>
<div>
    <hr />
    <div>
        <img class="img-thumbnail img-pushright" src="~/Content/EmployeePhotos/@Model.PhotoUrl" />
    </div>
    <br />
    <dl class="dl-horizontal pushright">
        
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            <a href="mailto:@Html.DisplayFor(model => model.Email)" target="_top">@Html.DisplayFor(model => model.Email)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>


        @if (User.IsInRole("SuperAdmin"))
        {
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        }
        
        @* only show notes if it's not null *@
        @if (Model.Notes != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        }
        

        @* only show termination date if it's not null *@
        @if (Model.TerminationDate != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.TerminationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminationDate)
        </dd>
        }
        

        <dt>
            @Html.DisplayNameFor(model => model.TST_Departments.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TST_Departments.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TST_EmployeeStatuses.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TST_EmployeeStatuses.Name)
        </dd>

    </dl>
</div>
<div class="clearfix"></div>
<p>
    <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId })</button>
    <button type="button" class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
</p>
