@model IEnumerable<TST.Data.EF.TST_Employees>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees</h2>

@if (User.IsInRole("SuperAdmin") || User.IsInRole("HRAdmin"))
{
    <p>
        <button type="button" class="btn btn-default">@Html.ActionLink("Create New", "Create")</button>
    </p>
}

<fieldset style="margin-bottom:20px;">
    @using (Html.BeginForm())
    {
        <div>
            Search: @Html.TextBox("SearchText", null, new { placeholder = "Search by name or email" })

            @Html.DropDownList("DepartmentId", "Search By Dept")

            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    }
</fieldset>

<div class="col-md-12 container-fluid">

    @foreach (var item in Model)
    {
        var photo = (item.PhotoUrl == null) ? "no-image.jpg" : item.PhotoUrl;
        <div class="empIndex col-sm-6 col-md-4 col-lg-3 text-center container-fluid">
            <hr />
            <div>
                <img class="img-thumbnail" id="img" src="~/Content/EmployeePhotos/@item.PhotoUrl" />
            </div>
            <div>
                <strong>@Html.DisplayFor(modelItem => item.FullName)</strong>
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </div>
            <div>
                <i class="fa fa-phone"></i> @Html.DisplayFor(modelItem => item.CellPhone)
            </div>
            <div>
                <a class="text-primary" href="mailto:@Html.DisplayFor(modelItem => item.Email)" target="_top">@Html.DisplayFor(modelItem => item.Email)</a>
            </div>
            <br />
            <div>
                <button type="button" class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.EmployeeId })</button>
            </div>
        </div>
    }
</div>
