@model IEnumerable<TST.Data.EF.TST_SupportTickets>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Support Tickets</h2>
<p>
    <button type="button" class="btn btn-default">@Html.ActionLink("Create New", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedByEmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TST_TicketPriorities.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TST_TicketStatuses.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.TST_Employees.Email == User.Identity.Name)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSubmitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TST_Employees.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TST_Employees1.FullName)
                    @if (item.TechId == null)
                    {
                        <span>Not Assigned</span>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TST_TicketPriorities.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TST_TicketStatuses.Name)
                </td>
                <td>
                    <button type="submit" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.TicketId })</button>

                    <button type="submit" class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.TicketId })</button>
                </td>
            </tr>
        }
    }

</table>

@if ((User.IsInRole("Tech")) || User.IsInRole("TechAdmin"))
{
    <h2>Assigned Support Tickets</h2>

    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmittedByEmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TST_TicketPriorities.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TST_TicketStatuses.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.TST_Employees.Email != User.Identity.Name)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateSubmitted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TST_Employees.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TST_Employees1.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TST_TicketPriorities.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TST_TicketStatuses.Name)
                    </td>
                    <td>
                        @if (item.DateClosed != null)
                        {
                            <button type="submit" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.TicketId })</button>

                        }
                        <button type="submit" class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.TicketId })</button>
                    </td>
                </tr>

            }
        }
    </table>
}
